<div style = "height : ;{{height}}px;;
  WebkitTouchCallout  : none;
  WebkitUserSelect    : none;
  KhtmlUserSelect     : none;
  MozUserSelect       : none;
  msUserSelect        : none;
  userSelect          : none;
  font-size           : 70px;
  width               : 100%;
  height              : 100%;
  text-align          : center;
  font-weight         : bold;
  color               : {{ color }};
  ">
  {{~ formattedHours ~}}:{{~ formattedMinutes ~}}
  {{~#if displaySeconds }}:{{~formattedSeconds~}}{{/if }}
  {{ meridian ~}}
</div>
